.circle-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: pink;
  }
  .circle-container img{
    width: 100px;
    height: 100px;
  }
  #circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transition: transform 0.5s;
  }
  
  .options {
    margin-top: 20px;
  }
  