*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

:root {     
    --backgroundo-color-yelow: #e9bd10;
    --backgroundo-color-red: #e86221;
    --backgroundo-color-pink: #ef9aff;
    --backgroundo-color-blue: #0019f5;
    --backgroundo-color-green: #45ab65;
    --font-familycuerpo: courier;
    }

@font-face {
    font-family: Dela;
        src: url(/fuentes/DelaGothicOne-Regular.ttf);   
    }
@font-face {
        font-family: Neulis-black;
        src: url(/fuentes/Neulis-Black.otf);
    }
@font-face {
        font-family: Neulis-bold;
        src: url(/fuentes/Neulis-ExtraBold.otf);
    }
    /*--------------------------horoscopo---------------------------*/

    @keyframes slide-in {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
      }
      .pregunta p {
        animation: slide-in 1s ease forwards;
      }
      .resp1 {
        animation: delay 0.2s;
        animation: slide-in 1s ease forwards;
      }
      .resp2 {
        animation: slide-in 1s ease forwards;
      }
      .resp3 {
        animation: slide-in 1s ease forwards;
      }
nav {
    width: 100%;
    margin-block-start: 4%;
    margin-inline-start: 7%;
    } 
.barra{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
 .mini-logo{
        width: 80px;
    } 

    #back{
        font-family: "Dela";
        text-align: left;
        background: none;
        border: none;
        width: 80px;
} 
  
.test-01{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-image: url(/imagenes/BILBOMOODRecurso\ 8@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

 header{
    width: 55%;
    display: flex;
    flex-direction: column;
    font-family: "Dela";
    font-size: 4.8em;
    line-height: 1.1em;
    margin-block-start: 2%;
    margin-inline-start: 7%;

 }
 .pregunta{
    width: 70%;
 }
 .boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.siguiente-horos{
    background-color:black;
    color:var(--backgroundo-color-red);
    border-radius: 25px;
    font-family: Dela;
    font-size: 1.5em;
    width: 180px;
    height: 50px;
    border: none;
}
.respuesta{
    margin-block-start: 9%;
    gap: 5%;
}
.respuesta button{
    width: 250px;
    background: none;
    border: none;
    margin-block-end: 3%;
    margin-inline-end: 3%;
}
 button:hover {
    transition: .4;
   scale: 115%;
   transform: rotate(3deg);
   }


